
<div>
        <nav class="navbar navbar-expand navbar-dark bg-primary">
          <!--     <a href="#" class="navbar-brand">INSTA LOAN APPLICATION</a>--> 
                <div class="navbar-nav mr-auto">
                        <li class="nav-item" routerLink="entry" routerLinkActive="active">
                                <a href="javascript:void(0)" class="nav-link">All LOAN APPLICATIONS</a>
                        </li>
                        <li class="nav-item" routerLink="add" routerLinkActive="active">
                                <a href="javascript:void(0)" class="nav-link">APPLY FOR A LOAN</a>
                        </li>
                </div>
        </nav>

</div>